<div class="container-fluid">
    <article>
        <h1 class="text-center mt-4">About this app</h1>
        <hr>
        <div class="row">
            <div class="col">
                <p class="text-center">This is a sample application used as an exercise and for showcase purposes.</p>
                <p class="fw-light text-center">This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
                <div style="width:100%;text-align:center;"><a target="_blank" rel="noopener norefferer" href="https://www.themoviedb.org/"><img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt=""></a></div>
            </div>
        </div>
    </article>
</div>