<mat-toolbar color="primary">
    <a routerLink="/" class="logo-link">
        <span class="logo fs-3">
            <mat-icon>theaters</mat-icon>{{ title }}
        </span>
    </a>
    <nav>
        <ul>
            <li><a mat-button color="accent" routerLink="/list" routerLinkActive="activebutton">Movies</a></li>
            <li><a mat-button color="accent" routerLink="/about" routerLinkActive="activebutton">About</a></li>
            <li><a mat-button color="accent" routerLink="/temp" routerLinkActive="activebutton">Error</a></li>
        </ul>
    </nav>
</mat-toolbar>